<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RestaurantWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ComisionesServlet</display-name>
    <servlet-name>ComisionesServlet</servlet-name>
    <servlet-class>servlets.ComisionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComisionesServlet</servlet-name>
    <url-pattern>/comisiones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpleadosServlet</display-name>
    <servlet-name>EmpleadosServlet</servlet-name>
    <servlet-class>servlets.EmpleadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadosServlet</servlet-name>
    <url-pattern>/empleados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesaAbrirServlet</display-name>
    <servlet-name>MesaAbrirServlet</servlet-name>
    <servlet-class>servlets.MesaAbrirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesaAbrirServlet</servlet-name>
    <url-pattern>/mesa-abrir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesaAgregarProductoServlet</display-name>
    <servlet-name>MesaAgregarProductoServlet</servlet-name>
    <servlet-class>servlets.MesaAgregarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesaAgregarProductoServlet</servlet-name>
    <url-pattern>/mesa-agregar-producto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesaCerrarServlet</display-name>
    <servlet-name>MesaCerrarServlet</servlet-name>
    <servlet-class>servlets.MesaCerrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesaCerrarServlet</servlet-name>
    <url-pattern>/mesa-cerrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesasOcupadasServlet</display-name>
    <servlet-name>MesasOcupadasServlet</servlet-name>
    <servlet-class>servlets.MesasOcupadasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesasOcupadasServlet</servlet-name>
    <url-pattern>/mesas-ocupadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlatoDirectoServlet</display-name>
    <servlet-name>PlatoDirectoServlet</servlet-name>
    <servlet-class>servlets.PlatoDirectoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlatoDirectoServlet</servlet-name>
    <url-pattern>/plato-directo-crear</url-pattern>
  </servlet-mapping>
</web-app>